/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

public/css/
public/fonts/
public/images/
public/img/
public/js/
public/*.js
public/sounds/
public/mix-manifest.json
storage/installed
storage/settings.json

_ide_helper.php
